.navbar {
    background-color: #1E90FF; 
    color: #fff;
    padding: 1rem;
    font-family: 'Roboto', sans-serif; 
    font-size: 1.2rem; 
}

.navbar-container {
    display: flex;
    align-items: center;
}

.navbar-title {
    margin: 0;
    font-size: 1.5rem;
    flex: 1;
}

.navbar-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar-item {
    margin-right: 1rem;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar-item:hover {
    color: black;
}

img{
    width: 150px; /* Establece el ancho deseado */
    height: auto;
}
